# ***********************************************************
# * TakymLib                                                *
# * Copyright (C) 2020-2022 Yigty.ORG; all rights reserved. *
# * Copyright (C) 2020-2022 Takym.                          *
# *                                                         *
# * distributed under the MIT License.                      *
# ***********************************************************

name: "BuildTest"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  BuildTest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
        bc: [ Debug, Release ]
    steps:
    - uses: actions/checkout@v2.4.0
      with:
        submodules: recursive
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    # Build
    - name: BuildW
      if: matrix.os == 'windows-latest'
      run: dotnet build -c ${{ matrix.bc }}W
    - name: Build
      if: matrix.os != 'windows-latest'
      run: dotnet build -c ${{ matrix.bc }}
    # Test
    - name: TestW
      if: matrix.os == 'windows-latest'
      run: dotnet test -c ${{ matrix.bc }}W --no-build --verbosity normal
    - name: Test
      if: matrix.os != 'windows-latest'
      run: dotnet test -c ${{ matrix.bc }} --no-build --verbosity normal
