name: "NuGet"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  NuGet:
    runs-on: windows-latest
    strategy:
      matrix:
        user: [ "YigtyORG", "Takym" ]
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.201
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5
      with:
        nuget-api-key: ${{ secrets.NUGET_API_KEY }}
        nuget-version: 5.3.1
    - name: Restore dependencies
      run: dotnet restore TakymLib.sln
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Pack
      run: dotnet pack -c Release --no-build --include-symbols --version-suffix ${{ github.sha }}
    - name: Add Source
      run: nuget sources Add -Source https://nuget.pkg.github.com/${{ matrix.user }}/index.json -Name "github" -UserName ${{ matrix.user }} -Password ${{ secrets.GITHUB_TOKEN }}
    - name: Publish
      run: nuget push "**/bin/Release/*.nupkg" -Source "github" -SkipDuplicate
