# ***********************************************************
# * TakymLib                                                *
# * Copyright (C) 2020-2022 Yigty.ORG; all rights reserved. *
# * Copyright (C) 2020-2022 Takym.                          *
# *                                                         *
# * distributed under the MIT License.                      *
# ***********************************************************

name: "NuGet"

on:
  push:
    branches: [ master ]

jobs:
  NuGet:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.7
      with:
        nuget-api-key: ${{ secrets.NUGET_API_KEY }}
        nuget-version: latest
    - name: Build
      run: dotnet build -c ReleaseW
    - name: Pack
      run: dotnet pack -c ReleaseW --no-build --include-symbols --version-suffix ${{ github.sha }}
    - name: Add Source
      run: nuget sources Add -Source https://nuget.pkg.github.com/YigtyORG/index.json -Name "github" -UserName YigtyORG -Password ${{ secrets.GITHUB_TOKEN }}
    - name: Publish
      run: nuget push "bin/TakymLib*/Release/TakymLib.*-*.nupkg" -Source "github" -SkipDuplicate
